body{
    background-image: url("https://media-s3-us-east-1.ceros.com/gumgum/images/2017/06/11/623138b47e1a0d3ea2fa49c5777fa06a/stadium-emirates.png?imageOpt=1&fit=bounds&width=1194");
    background-repeat: no-repeat;
    background-size: cover;
}
